<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>6</ApplicationRevision>
    <ApplicationVersion>2.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://www.facebook.com/profile.php?id=100001573232252</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/KJkenly/Hi7Publish/main/published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Mdr</ProductName>
    <PublishDir>bin\Release\net6.0-windows\app.publish\</PublishDir>
    <PublishUrl>D:\WPF\Hi7Publish\published\</PublishUrl>
    <PublisherName>Hi7 Ubon</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SuiteName>Ubon</SuiteName>
    <SupportUrl>https://www.facebook.com/profile.php?id=100001573232252</SupportUrl>
    <TargetCulture>th-TH</TargetCulture>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/KJkenly/Hi7Publish/main/published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ManifestCertificateThumbprint>CF2972D378F678F286A74A6BFF0CCB841539FB4B</ManifestCertificateThumbprint>
    <History>True|2023-05-30T05:47:57.7359481Z;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 6.0.16 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>